<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha384-r7F6J5v5lb8E5lk5Avf8FH50CJSZ3I5taiu5JdoGqpxnq3qc9zqJz1y2lR9mpaF98"
    crossorigin="anonymous"
  />
</head>
<body style="font-family: Helvetica, Arial, sans-serif; margin: 0; padding: 0; background-color: #ffffff;">
  <table role="presentation" style="width: 100%; border-collapse: collapse; border: 0; border-spacing: 0; font-family: Arial, Helvetica, sans-serif; background-color: #efefef;">
    <tbody>
      <tr>
        <td align="center" style="background-color: #07efed00; padding: 1rem 2rem; vertical-align: top; width: 100%;">
          <table role="presentation" style="max-width: 600px; border-collapse: collapse; border: 0; border-spacing: 0; text-align: left; margin: 0 auto;">
            <tbody>
              <tr>
                <td>
                  <div style="text-align: left;">
                    <div style="text-align: center; background-color: #121923;">
                      <!-- Your company logo -->
                      <table align="center" width="200" cellpadding="0" cellspacing="0" border="0">
                        <tr>
                          <td style="line-height: 0;">
                            <a href="https://kickstartrocket.pythonanywhere.com/" style="text-decoration: none;">
                              <img src="https://i.ibb.co/Ms74HGq/logo.png" alt="Company Logo" width="200" height="auto" style="display: block; border: 0; line-height: 0;" />
                            </a>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div style="padding: 20px; background-color: #ffffff; color: #000;">
                    <div style="text-align: left;">
                      <!-- Email content here -->


                      <div style="text-align: left;">
                        <h1 style="margin: 1rem 0; font-weight: bold;">Dear <span style="text-transform: capitalize;">{{user_first_name}}</span>,</h1>
                        <p style="padding-bottom: 16px;">
                          Are you looking to supercharge your LinkedIn network and expand your professional connections effortlessly? We have the perfect solution for you!
                        </p>
                        <p>
                          <span style="font-weight: bold;">Introducing KickStart Rocket</span> - the ultimate LinkedIn growth tool that is now available to you completely FREE of cost.
                        </p>
                        <p>
                          With KickStart Rocket, you can:
                        </p>
                        <ul>
                          <li><span style="font-weight: bold;">🚀 Increase your LinkedIn followers</span> with just a few clicks.</li>
                          <li><span style="font-weight: bold;">🤝 Connect with up to ten relevant LinkedIn users</span> at once.</li>
                          <li><span style="font-weight: bold;">💼 Expand your professional network</span> effortlessly.</li>
                          <li><span style="font-weight: bold;">🔒 Enjoy a secure and user-friendly experience.</span></li>
                        </ul>
                        <p>
                          Getting started with KickStart Rocket is as easy as 1-2-3:
                        </p>
                        <ol>
                          <li>Please visit our <a href="https://kickstartrocket.pythonanywhere.com/" style="text-decoration: none; color: #3498db; font-weight: bold;">website</a> and Register. Afterward,</li>
                          <li>Download our <a href="https://chrome.google.com/webstore/detail/kickstart-rocket/bngadlmjdaacelhpkpbfhmfkfpfgepdb?hl=en&authuser=1" style="text-decoration: none; color: #3498db; font-weight: bold;">Chrome extension</a> and log in to your account.</li>
                          <li>You can then start growing your LinkedIn connections instantly!</li>
                        </ol>
                        <p>
                          Say goodbye to manual connection requests and tedious networking tasks. <span style="font-weight: bold;">KickStart Rocket automates the process</span>, saving you time and helping you build a powerful LinkedIn presence.
                        </p>
                        <p>
                          Don't miss out on this opportunity to boost your professional network. <span style="font-weight: bold;">Join thousands of satisfied users</span> who have already transformed their LinkedIn experience with KickStart Rocket.
                        </p>
                        <p>
                          Ready to take your LinkedIn game to the next level? <span style="font-weight: bold;">Download KickStart Rocket now:</span>
                        </p>
                        <div style="text-align: center;">
                          <a href="https://chrome.google.com/webstore/detail/kickstart-rocket/bngadlmjdaacelhpkpbfhmfkfpfgepdb?hl=en&authuser=1" target="_blank" style="display: inline-block; font-size: 14px; font-weight: bold; margin: 0; padding: 12px 25px; text-decoration: none; text-transform: capitalize; background-color: #3498db; border: 1px solid #3498db; border-radius: 5px; color: #ffffff;">Go To Kickstart Rocket Chrome Extension</a>
                        </div>
                        <p>
                          Don't wait! Start growing your LinkedIn network today and unlock new opportunities in your professional journey.
                        </p>
                        <p>
                          Thank you for considering KickStart Rocket. If you have any questions or need assistance, feel free to reach out to our friendly customer support team.
                        </p>
                        
                        <p>Best regards,</p>
                        <p style="font-weight: bold;">KickStart Rocket</p>
                        <a href="https://kickstartrocket.pythonanywhere.com/" style="text-decoration: none; color: #3498db; font-weight: bold;">KickStart 🚀 Website</a>
                        {% comment %} <p><a href="https://kickstartrocket.pythonanywhere.com/" style="text-decoration: none; color: #000; font-weight: bold;">Website: https://kickstartrocket.pythonanywhere.com/</a></p> {% endcomment %}
                        <p><i class="fa fa-envelope" aria-hidden="true"></i> Email: <a href="mailto:infokickstartrocket@gmail.com" style="text-decoration: none; color: #000; font-weight: bold;">infokickstartrocket@gmail.com</a></p>
                      </div>


                    </div>
                  </div>
                  <div style="background-color:#121923;padding-top: 20px; color: white; text-align: center;">
                    <p style="padding-bottom: 25px;">
                      <!-- Add links with labels and FontAwesome icons -->
                      <a href="https://www.linkedin.com/company/100018660/admin/feed/posts/" style="text-decoration: none; color: white;">
                        <i class="fab fa-linkedin"></i> LinkedIn
                      </a>
                      &nbsp;&nbsp;&nbsp;&nbsp;
                      <a href="https://twitter.com/KickStartRocket" style="text-decoration: none; color: white;">
                        <i class="fab fa-twitter"></i> Twitter
                      </a>
                      &nbsp;&nbsp;&nbsp;&nbsp;
                      <a href="https://www.facebook.com/people/KickStart-Rocket/61550945236035/" style="text-decoration: none; color: white;">
                        <i class="fab fa-facebook"></i> Facebook
                      </a>&nbsp;&nbsp;&nbsp;&nbsp;
                      <a href="https://www.instagram.com/kickstart_rocket/" style="text-decoration: none; color: white;">
                        <i class="fab fa-facebook"></i> Instagram
                      </a>
                    </p>
                    <p style="padding-bottom: 25px;">
                      All Rights Reserved to KickStart Rocket.
                    </p>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</body>
</html>
